.DeliveryList{
    margin-top: 7%;
    width:40%;
    background-color: white;
    height: 82.2%;
    margin-left: 25.5%;
    position: absolute;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px;
}
.Delivery{
    padding: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
}
.Delivery .each{
    margin-top: 2%;
    margin-bottom: 2%;
}
.Delivery ul{
    display: inline;
}
.Delivery ul li{
    display: inline;
    margin-right: 7%;
}
.Delivery .Fab{
    margin-top: -1.5%;
    float: right;
    margin-right: 1.5%;
    color: white;
    background-color: #EE4D47;
}
.DeliveryForm{
    margin-left: 70%;
    position: absolute;
    margin-top: 7%;
    width: 20%;
    font-weight: bold;
}

.DeliveryForm .formControl{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.DeliveryForm .formControl .TextField{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
    font-weight: bold;
    background-color:white;
    border: 1px solid #EE4D47;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.2);
    border-radius: 5px;
}
.DeliveryForm .formControl .TextField:hover{
    border: 1px solid white;;
}
.DeliveryForm .formControl .MuiPickersUtilsProvider{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
}

.DeliveryForm .formControl .saveButton{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    color: white;
    background-color: #EE4D47;
    border: 0;
}
.DeliveryForm .formControl .saveButton:hover{
    color:  #EE4D47;
    background-color:white;
    transition: 0.3s;
}
.DeliveryForm .formControl .Select{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
}